.box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
}

.box-containers {
    display: flex;
    gap: 35px;  
    justify-content: center;
}

.gray-box {
    align-items: center;
    background-color: gray;
    color: #E5E7EB;
    font-weight: 18px;
    display: flex;
    height: 200px;
    justify-content: center;
    width: 800px;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    margin: 0;
}

.image-box {
    border: 5px solid #3882F6;
    border-radius: 10px;
    height: 125px;
    width: 125px;
}

.links,
.subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.links {
    gap: 25px;
}

.middle-box {
    text-align: center;
    margin: 90px auto;
}

.subtext {
    margin: 10px 0;
}

.top-box {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0 150px;
}

.top-info {
    align-items: center;
    display: flex;
    gap: 50px;
    padding: 75px 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

body {
    margin: 0;
    font-family: roboto, sans-serif;
}

button {
    background-color: #3382F6;
    border-radius: 5px;
    color: #E5E7EB;
    padding: 2.5px 20px;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

